.calc-main-display {
  background-color: #313639;
  color: #fff;
  padding: 1rem;
  border-bottom: 4px solid #000;
  line-height: 1;
}

.calc-sub-display {
  background-color: #313639;
  color: #fff;
  border-bottom: 4px solid #000;
  padding: 0.5rem;
}
